/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.corner-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.corner-button:hover {
    background-color: #0056b3;
}

.home-button{
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}
.home-button:hover{
    background-color: #0056b3;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    /* width: 400px; */
    }
.first-button{
    position: absolute;
    top: 70px;
    left: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}
.second-button{
    position: absolute;
    top: 120px;
    left: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}